<ul>
  <li>
    <h2>Edit expense:</h2>
  </li>
  <li>
    <form action="/edit/<%= @expense_id %>" method="post">
      <label for="expense_name">Name:</label>
  </li>
  <li>
        <input name="expense_name" type="text" value="<%= @expense[:expense_name] %>">
  </li>
  <li>
      <label for="category">Choose a category:</label>
  </li>
  <li>
      <select name="category" id="category">
        <option value="">--Please choose an option--</option>
        <% @all_categories.each do |category| %>
          <% if category[:category_id] == @expense[:category_id] %>
            <option value="<%= category[:category_name] %>" selected><%= category[:category_name] %></option>
          <% else %>
            <option value="<%= category[:category_name] %>"><%= category[:category_name] %></option>
          <% end %>
        <% end %>
      </select>
  </li>
  <li>
      <label for="expense_amount">Monthly Amount ($):</label>
  </li>
  <li>
      <input type="number" min="0.01" step="0.01" value="<%= @expense[:monthly_amt] %>" name="expense_amount">
  </li>
      <fieldset>
        <input type="submit" value="Save" class="button">
        <a class="button" href="/">Cancel</a>
      </fieldset>
    </form>
</ul>