<% content_for :header_links do %>
  <a class="add" href="/add">Add new expense</a>
<% end %>

<% if session[:expenses].size > 0 %>
  <ul>
    <li>
      <% if @yearly_flg %>
        <h2>Yearly View</h2>
        <a class="smfont" href="/">Change to Monthly View</a>
      <% else %>
        <h2>Monthly View</h2>
        <a class="smfont" href="/yearly">Change to Yearly View</a>
      <% end %>
    </li>
  </ul>
  <% categories_hash.each do |category_name, expenses| %>
  <ul id="expenses">
    <li class="category"><%= category_name %></li>
    <% expenses.each do |expense| %>
      <li>
        <form action="/delete/<%= expense[:expense_id] %>" class="delete" method="post">
          <button type="submit">Delete</button>
        </form>
          <%= expense[:name] %>
          <a class="edit smfont" href="/edit/<%= expense[:expense_id] %>">Edit</a>
        <p class="amt">
          <% if @yearly_flg %>
            <%= display_currency(expense[:amount] * 12) %>
          <% else %>
            <%= display_currency(expense[:amount]) %>
          <% end %>
        </p>
      </li>
    <% end %>
    <li class="subtotal">
      <%= category_name %> Total
      <div><%= display_currency(subtotal(category_name)) %></div>
    </li>
  </ul>
  <% end %>
  <ul>
    <li class="total">
    <% if @yearly_flg %>
      <p>Yearly Total</p>
      <p><%= display_currency(yearly_total(session[:expenses])) %></p>
    <% else %>
      <p>Monthly Total</p>
      <p><%= display_currency(monthly_total(session[:expenses])) %></p>
    <% end %>
    </li>
  </ul>
<% else %>
  <p>Welcome to the Budget App!  Click the "Add new expense" button to start adding your monthly expenses.</p>
<% end %>

